<div class="container">
  <h1>Edit Page</h1>
  <%= form_for(@task) do |e| %>
    <%= e.label :title %>
    <%= e.text_field :title %>

    <%= e.label :details %>
    <%= e.text_field :details %>

    <%= e.label :completed %>
    <%= e.select :completed, ['true', 'false'] %>

    <%= e.submit %>
  <% end %>
</div>
